.form__save{
    color:white;
    background-color:black;
    width: 238px;
    height: 46px;
    text-align:center;
    vertical-align: baseline;
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 25px;
    border: none;
    font-size: 14px;
    line-height:1.2;
  
}


@media screen and (min-width: 900px) {
    .form__save{
        width: 358px;
        margin-top: 18px;
        margin-bottom: 37px;
        font-size: 18px;
    }
}

.form__save:hover{
 
    opacity: 0.8;
    cursor: pointer;
}