.profile__subtitle{
    color:white;
    font-size: 14px;
    line-height:1.1;
    margin: 14px auto 0 auto;
    text-align:center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

@media screen and (min-width: 900px) {
    .profile__subtitle{
        margin: 16px 0 0 24px;
        text-align:left;
        font-size: 18px;
        max-width: 500px;
    }
}