.form__cross{
    position: relative;
    align-self: flex-end;
    margin-bottom:14px; 
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: url(../../../images/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  120%;
    background-color:transparent;
    border: none;
}

@media screen and (min-width: 900px) {
    .form__cross{
        margin-bottom:0; 
        left: 49px;
        width: 49px;
        height: 49px;
    }
}