.footer__copyright{
    margin-top:48px;
    margin-bottom:36px;
  
    color:#545454;;
    font-size: 14px;
    /* width: 10vh;*/
    /* max-width: 900px;*/
}

@media screen and (min-width: 768px) {
    .footer__copyright{
        font-size: 18px;
    }
}