.profile__info{
    width:95%;
    margin-top:22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 900px) {
    .profile__info{
        align-items: start;
        width:400px;
    }
}