.popup__cross{
    position: absolute;
    top: -50px;
    left: 255px;
    width: 26px;
    height: 26px;
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: url(../../../images/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  120%;
    background-color:transparent;
    border: none;
}

@media screen and (min-width: 900px) {
    .popup__cross{
        top: -40px;
        left: 425px;
        width: 49px;
        height: 49px;
    }
}